
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.logomarca {
    width: 100px;
    height: 65px;
    background: url("../Imagens/logo.png") no-repeat 0 0;
    display: block;
}

.teste{
    display: flex;
    flex-direction: row;
}

.logo{
    float: left;
}

.menu{
    float: right;
}

li {
  list-style-type: none;
}

.menu__li{
    float: left;
    margin: 0 10px;
}

.menu__link{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;

}

.clear{
    clear: both;
}

.center{
    width: 1110px;
    margin:  0 auto;

}

.apresentação{
    background: url("../Imagens/background.png") no-repeat center;
    padding-top: 40px;
    margin: 0px;
}

.bt-sigin{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 4px;
    margin-left: 30px;
    background: #4B088A;
}

.bt-sigup{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 4px;
    background: #4B088A;
}

/* .apresentação__box{
    padding-top: 100px;
} */

.apresentacao__descricao{
    width: 100%;
    float: left;
    padding-top: 60px;
}

/* .apresentacao__cidade{
    padding: 1000px, 1000px;
    float: left;
    width: 50%;
}  */

.teste2{
    position: absolute;
    width: 500px;
    height: auto;
    left: 50%;
    float: left;
}

.title-apresentacao{
    color: #4B088A;
    font-size: 44px;
    line-height: 48px;
}

.title-apresentacao strong{
    font-weight: 600;

}

.descricao-apresentacao{
    color: #000;
    font-size: 18px;
    line-height: 25px;
    margin: 40px 0 30px 0;
}

.bt-red{
    background-color: #4B088A;
    font-size: 16px;
    font-weight: 600;
    color:#ffffff;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

/* Se eu coloco "Box-icone" altera o layout html  */

 .box__icone{
    width: 80px;
    height: 80px;
    border: 20px #0c0ce94d;
    border-radius: 10px;
    text-align: center;
}