.home-page .recommended-section .container {
    background-image: url(../../Assets/Images/recommended-section-bg.jpg);
}

.home-page .holiday-plan-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.70)), 
                      url(../../Assets/Images/holiday-plan-bg.jpg);
    background-size: cover; /* Garante que a imagem de fundo cubra toda a seção */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */ 
    overflow: hidden; /* Garante que o conteúdo respeite as bordas arredondadas */
}

.home-page .need-inspiration {
    background-image: url(../../Assets/Images/need-inspiration-bg.jpg);
}