:root {
  --primary-color:rgba(245, 245, 220, 1); 
  --secondery-color: rgba(245, 245, 220, 1);

  --primary-bg-color: #DB5B00;
  --secondery-bg-color: #F14E00; 
}

.App {
  text-align: center;
}

.App h1 {
  font-size: 4.5rem;

}

.App h2 {
  font-size: 3.5rem;
}

.App h3 {
  font-size: 2.5rem;
}

.text-orange {
  color: var(--primary-color);
}

.img-hover,
.img-hover:hover {
  transition: all 0.5s ease;
}

.img-hover:hover {
  transform: scale(1.03);
}

@media screen and (max-widht: 768px) {
  .App h2 {
    font-size: 2.5rem;
  }
  
}

@media screen and (max-widht: 576px) {
  .App h1 {
    font-size: 3rem;
  }
  
  .App h2 {
    font-size: 2rem;
  }

  .App h3 {
    font-size: 1.75rem;
  }
  
}